.flex, .flex-xs{ display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex }

.flex-column, .flex-column-xs{ -webkit-box-orient:vertical; -webkit-box-direction:normal; -webkit-flex-direction:column; -ms-flex-direction:column; flex-direction:column }
.flex-row, .flex-row-xs{ -webkit-box-orient:horizontal; -webkit-box-direction:reverse; -webkit-flex-direction:row; -ms-flex-direction:row; flex-direction:row }
.flex-wrap, .flex-wrap-xs{ -webkit-flex-wrap:wrap; -ms-flex-wrap:wrap; flex-wrap:wrap }

.items-start, .items-start-xs{ -webkit-box-align:start; -webkit-align-items:flex-start; -ms-flex-align:start; -ms-grid-row-align:flex-start; align-items:flex-start }
.items-end, .items-end-xs{ -webkit-box-align:end; -webkit-align-items:flex-end; -ms-flex-align:end; -ms-grid-row-align:flex-end; align-items:flex-end }
.items-center, .items-center-xs{ -webkit-box-align:center; -webkit-align-items:center; -ms-flex-align:center; -ms-grid-row-align:center; align-items:center }
.items-baseline, .items-baseline-xs{ -webkit-box-align:baseline; -webkit-align-items:baseline; -ms-flex-align:baseline; -ms-grid-row-align:baseline; align-items:baseline }
.items-stretch, .items-stretch-xs{ -webkit-box-align:stretch; -webkit-align-items:stretch; -ms-flex-align:stretch; -ms-grid-row-align:stretch; align-items:stretch }

.self-start, .self-start-xs{ -webkit-align-self:flex-start; -ms-flex-item-align:start; align-self:flex-start }
.self-end, .self-end-xs{ -webkit-align-self:flex-end; -ms-flex-item-align:end; align-self:flex-end }
.self-center, .self-center-xs{ -webkit-align-self:center; -ms-flex-item-align:center; align-self:center }
.self-baseline, .self-baseline-xs{ -webkit-align-self:baseline; -ms-flex-item-align:baseline; align-self:baseline }
.self-stretch, .self-stretch-xs{ -webkit-align-self:stretch; -ms-flex-item-align:stretch; align-self:stretch }

.justify-start, .justify-start-xs{ -webkit-box-pack:start; -webkit-justify-content:flex-start; -ms-flex-pack:start; justify-content:flex-start }
.justify-end, .justify-end-xs{ -webkit-box-pack:end; -webkit-justify-content:flex-end; -ms-flex-pack:end; justify-content:flex-end }
.justify-center, .justify-center-xs{ -webkit-box-pack:center; -webkit-justify-content:center; -ms-flex-pack:center; justify-content:center }
.justify-between, .justify-between-xs{ -webkit-box-pack:justify; -webkit-justify-content:space-between; -ms-flex-pack:justify; justify-content:space-between }
.justify-around, .justify-around-xs{ -webkit-justify-content:space-around; -ms-flex-pack:distribute; justify-content:space-around }

.content-start, .content-start-xs{ -webkit-align-content:flex-start; -ms-flex-line-pack:start; align-content:flex-start }
.content-end, .content-end-xs{ -webkit-align-content:flex-end; -ms-flex-line-pack:end; align-content:flex-end }
.content-center, .content-center-xs{ -webkit-align-content:center; -ms-flex-line-pack:center; align-content:center }
.content-between, .content-between-xs{ -webkit-align-content:space-between; -ms-flex-line-pack:justify; align-content:space-between }
.content-around, .content-around-xs{ -webkit-align-content:space-around; -ms-flex-line-pack:distribute; align-content:space-around }
.content-stretch, .content-stretch-xs{ -webkit-align-content:stretch; -ms-flex-line-pack:stretch; align-content:stretch }

.flex-auto, .flex-auto-xs{ -webkit-box-flex:1; -webkit-flex:1 1 auto; -ms-flex:1 1 auto; flex:1 1 auto; min-width:0; min-height:0; }
.flex-none, .flex-none-xs{ -webkit-box-flex:0; -webkit-flex:none; -ms-flex:none; flex:none }

.order-0, .order-0-xs{ -webkit-box-ordinal-group:1; -webkit-order:0; -ms-flex-order:0; order:0 }
.order-1, .order-1-xs{ -webkit-box-ordinal-group:2; -webkit-order:1; -ms-flex-order:1; order:1 }
.order-2, .order-2-xs{ -webkit-box-ordinal-group:3; -webkit-order:2; -ms-flex-order:2; order:2 }
.order-3, .order-3-xs{ -webkit-box-ordinal-group:4; -webkit-order:3; -ms-flex-order:3; order:3 }
.order-last, .order-last-xs{ -webkit-box-ordinal-group:100000; -webkit-order:99999; -ms-flex-order:99999; order:99999 }

@media (min-width: $screen-sm-min) {
  .flex-sm{ display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex }

  .flex-column-sm{ -webkit-box-orient:vertical; -webkit-box-direction:normal; -webkit-flex-direction:column; -ms-flex-direction:column; flex-direction:column }
  .flex-wrap-sm{ -webkit-flex-wrap:wrap; -ms-flex-wrap:wrap; flex-wrap:wrap }

  .items-start-sm{ -webkit-box-align:start; -webkit-align-items:flex-start; -ms-flex-align:start; -ms-grid-row-align:flex-start; align-items:flex-start }
  .items-end-sm{ -webkit-box-align:end; -webkit-align-items:flex-end; -ms-flex-align:end; -ms-grid-row-align:flex-end; align-items:flex-end }
  .items-center-sm{ -webkit-box-align:center; -webkit-align-items:center; -ms-flex-align:center; -ms-grid-row-align:center; align-items:center }
  .items-baseline-sm{ -webkit-box-align:baseline; -webkit-align-items:baseline; -ms-flex-align:baseline; -ms-grid-row-align:baseline; align-items:baseline }
  .items-stretch-sm{ -webkit-box-align:stretch; -webkit-align-items:stretch; -ms-flex-align:stretch; -ms-grid-row-align:stretch; align-items:stretch }

  .self-start-sm{ -webkit-align-self:flex-start; -ms-flex-item-align:start; align-self:flex-start }
  .self-end-sm{ -webkit-align-self:flex-end; -ms-flex-item-align:end; align-self:flex-end }
  .self-center-sm{ -webkit-align-self:center; -ms-flex-item-align:center; align-self:center }
  .self-baseline-sm{ -webkit-align-self:baseline; -ms-flex-item-align:baseline; align-self:baseline }
  .self-stretch-sm{ -webkit-align-self:stretch; -ms-flex-item-align:stretch; align-self:stretch }

  .justify-start-sm{ -webkit-box-pack:start; -webkit-justify-content:flex-start; -ms-flex-pack:start; justify-content:flex-start }
  .justify-end-sm{ -webkit-box-pack:end; -webkit-justify-content:flex-end; -ms-flex-pack:end; justify-content:flex-end }
  .justify-center-sm{ -webkit-box-pack:center; -webkit-justify-content:center; -ms-flex-pack:center; justify-content:center }
  .justify-between-sm{ -webkit-box-pack:justify; -webkit-justify-content:space-between; -ms-flex-pack:justify; justify-content:space-between }
  .justify-around-sm{ -webkit-justify-content:space-around; -ms-flex-pack:distribute; justify-content:space-around }

  .content-start-sm{ -webkit-align-content:flex-start; -ms-flex-line-pack:start; align-content:flex-start }
  .content-end-sm{ -webkit-align-content:flex-end; -ms-flex-line-pack:end; align-content:flex-end }
  .content-center-sm{ -webkit-align-content:center; -ms-flex-line-pack:center; align-content:center }
  .content-between-sm{ -webkit-align-content:space-between; -ms-flex-line-pack:justify; align-content:space-between }
  .content-around-sm{ -webkit-align-content:space-around; -ms-flex-line-pack:distribute; align-content:space-around }
  .content-stretch-sm{ -webkit-align-content:stretch; -ms-flex-line-pack:stretch; align-content:stretch }

  .flex-auto-sm{ -webkit-box-flex:1; -webkit-flex:1 1 auto; -ms-flex:1 1 auto; flex:1 1 auto; min-width:0; min-height:0; }
  .flex-none-sm{ -webkit-box-flex:0; -webkit-flex:none; -ms-flex:none; flex:none }

  .order-0-sm{ -webkit-box-ordinal-group:1; -webkit-order:0; -ms-flex-order:0; order:0 }
  .order-1-sm{ -webkit-box-ordinal-group:2; -webkit-order:1; -ms-flex-order:1; order:1 }
  .order-2-sm{ -webkit-box-ordinal-group:3; -webkit-order:2; -ms-flex-order:2; order:2 }
  .order-3-sm{ -webkit-box-ordinal-group:4; -webkit-order:3; -ms-flex-order:3; order:3 }
  .order-last-sm{ -webkit-box-ordinal-group:100000; -webkit-order:99999; -ms-flex-order:99999; order:99999 }
}
@media (min-width: $screen-md-min) {
  .flex-md{ display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex }

  .flex-column-md{ -webkit-box-orient:vertical; -webkit-box-direction:normal; -webkit-flex-direction:column; -ms-flex-direction:column; flex-direction:column }
  .flex-wrap-md{ -webkit-flex-wrap:wrap; -ms-flex-wrap:wrap; flex-wrap:wrap }

  .items-start-md{ -webkit-box-align:start; -webkit-align-items:flex-start; -ms-flex-align:start; -ms-grid-row-align:flex-start; align-items:flex-start }
  .items-end-md{ -webkit-box-align:end; -webkit-align-items:flex-end; -ms-flex-align:end; -ms-grid-row-align:flex-end; align-items:flex-end }
  .items-center-md{ -webkit-box-align:center; -webkit-align-items:center; -ms-flex-align:center; -ms-grid-row-align:center; align-items:center }
  .items-baseline-md{ -webkit-box-align:baseline; -webkit-align-items:baseline; -ms-flex-align:baseline; -ms-grid-row-align:baseline; align-items:baseline }
  .items-stretch-md{ -webkit-box-align:stretch; -webkit-align-items:stretch; -ms-flex-align:stretch; -ms-grid-row-align:stretch; align-items:stretch }

  .self-start-md{ -webkit-align-self:flex-start; -ms-flex-item-align:start; align-self:flex-start }
  .self-end-md{ -webkit-align-self:flex-end; -ms-flex-item-align:end; align-self:flex-end }
  .self-center-md{ -webkit-align-self:center; -ms-flex-item-align:center; align-self:center }
  .self-baseline-md{ -webkit-align-self:baseline; -ms-flex-item-align:baseline; align-self:baseline }
  .self-stretch-md{ -webkit-align-self:stretch; -ms-flex-item-align:stretch; align-self:stretch }

  .justify-start-md{ -webkit-box-pack:start; -webkit-justify-content:flex-start; -ms-flex-pack:start; justify-content:flex-start }
  .justify-end-md{ -webkit-box-pack:end; -webkit-justify-content:flex-end; -ms-flex-pack:end; justify-content:flex-end }
  .justify-center-md{ -webkit-box-pack:center; -webkit-justify-content:center; -ms-flex-pack:center; justify-content:center }
  .justify-between-md{ -webkit-box-pack:justify; -webkit-justify-content:space-between; -ms-flex-pack:justify; justify-content:space-between }
  .justify-around-md{ -webkit-justify-content:space-around; -ms-flex-pack:distribute; justify-content:space-around }

  .content-start-md{ -webkit-align-content:flex-start; -ms-flex-line-pack:start; align-content:flex-start }
  .content-end-md{ -webkit-align-content:flex-end; -ms-flex-line-pack:end; align-content:flex-end }
  .content-center-md{ -webkit-align-content:center; -ms-flex-line-pack:center; align-content:center }
  .content-between-md{ -webkit-align-content:space-between; -ms-flex-line-pack:justify; align-content:space-between }
  .content-around-md{ -webkit-align-content:space-around; -ms-flex-line-pack:distribute; align-content:space-around }
  .content-stretch-md{ -webkit-align-content:stretch; -ms-flex-line-pack:stretch; align-content:stretch }

  .flex-auto-md{ -webkit-box-flex:1; -webkit-flex:1 1 auto; -ms-flex:1 1 auto; flex:1 1 auto; min-width:0; min-height:0; }
  .flex-none-md{ -webkit-box-flex:0; -webkit-flex:none; -ms-flex:none; flex:none }

  .order-0-md{ -webkit-box-ordinal-group:1; -webkit-order:0; -ms-flex-order:0; order:0 }
  .order-1-md{ -webkit-box-ordinal-group:2; -webkit-order:1; -ms-flex-order:1; order:1 }
  .order-2-md{ -webkit-box-ordinal-group:3; -webkit-order:2; -ms-flex-order:2; order:2 }
  .order-3-md{ -webkit-box-ordinal-group:4; -webkit-order:3; -ms-flex-order:3; order:3 }
  .order-last-md{ -webkit-box-ordinal-group:100000; -webkit-order:99999; -ms-flex-order:99999; order:99999 }
}
@media (min-width: $screen-lg-min) {
  .flex-lg{ display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex }

  .flex-column-lg{ -webkit-box-orient:vertical; -webkit-box-direction:normal; -webkit-flex-direction:column; -ms-flex-direction:column; flex-direction:column }
  .flex-wrap-lg{ -webkit-flex-wrap:wrap; -ms-flex-wrap:wrap; flex-wrap:wrap }

  .items-start-lg{ -webkit-box-align:start; -webkit-align-items:flex-start; -ms-flex-align:start; -ms-grid-row-align:flex-start; align-items:flex-start }
  .items-end-lg{ -webkit-box-align:end; -webkit-align-items:flex-end; -ms-flex-align:end; -ms-grid-row-align:flex-end; align-items:flex-end }
  .items-center-lg{ -webkit-box-align:center; -webkit-align-items:center; -ms-flex-align:center; -ms-grid-row-align:center; align-items:center }
  .items-baseline-lg{ -webkit-box-align:baseline; -webkit-align-items:baseline; -ms-flex-align:baseline; -ms-grid-row-align:baseline; align-items:baseline }
  .items-stretch-lg{ -webkit-box-align:stretch; -webkit-align-items:stretch; -ms-flex-align:stretch; -ms-grid-row-align:stretch; align-items:stretch }

  .self-start-lg{ -webkit-align-self:flex-start; -ms-flex-item-align:start; align-self:flex-start }
  .self-end-lg{ -webkit-align-self:flex-end; -ms-flex-item-align:end; align-self:flex-end }
  .self-center-lg{ -webkit-align-self:center; -ms-flex-item-align:center; align-self:center }
  .self-baseline-lg{ -webkit-align-self:baseline; -ms-flex-item-align:baseline; align-self:baseline }
  .self-stretch-lg{ -webkit-align-self:stretch; -ms-flex-item-align:stretch; align-self:stretch }

  .justify-start-lg{ -webkit-box-pack:start; -webkit-justify-content:flex-start; -ms-flex-pack:start; justify-content:flex-start }
  .justify-end-lg{ -webkit-box-pack:end; -webkit-justify-content:flex-end; -ms-flex-pack:end; justify-content:flex-end }
  .justify-center-lg{ -webkit-box-pack:center; -webkit-justify-content:center; -ms-flex-pack:center; justify-content:center }
  .justify-between-lg{ -webkit-box-pack:justify; -webkit-justify-content:space-between; -ms-flex-pack:justify; justify-content:space-between }
  .justify-around-lg{ -webkit-justify-content:space-around; -ms-flex-pack:distribute; justify-content:space-around }

  .content-start-lg{ -webkit-align-content:flex-start; -ms-flex-line-pack:start; align-content:flex-start }
  .content-end-lg{ -webkit-align-content:flex-end; -ms-flex-line-pack:end; align-content:flex-end }
  .content-center-lg{ -webkit-align-content:center; -ms-flex-line-pack:center; align-content:center }
  .content-between-lg{ -webkit-align-content:space-between; -ms-flex-line-pack:justify; align-content:space-between }
  .content-around-lg{ -webkit-align-content:space-around; -ms-flex-line-pack:distribute; align-content:space-around }
  .content-stretch-lg{ -webkit-align-content:stretch; -ms-flex-line-pack:stretch; align-content:stretch }

  .flex-auto-lg{ -webkit-box-flex:1; -webkit-flex:1 1 auto; -ms-flex:1 1 auto; flex:1 1 auto; min-width:0; min-height:0; }
  .flex-none-lg{ -webkit-box-flex:0; -webkit-flex:none; -ms-flex:none; flex:none }

  .order-0-lg{ -webkit-box-ordinal-group:1; -webkit-order:0; -ms-flex-order:0; order:0 }
  .order-1-lg{ -webkit-box-ordinal-group:2; -webkit-order:1; -ms-flex-order:1; order:1 }
  .order-2-lg{ -webkit-box-ordinal-group:3; -webkit-order:2; -ms-flex-order:2; order:2 }
  .order-3-lg{ -webkit-box-ordinal-group:4; -webkit-order:3; -ms-flex-order:3; order:3 }
  .order-last-lg{ -webkit-box-ordinal-group:100000; -webkit-order:99999; -ms-flex-order:99999; order:99999 }
}
