.col-1-25, .col-xs-1-25{ flex-basis:4%; max-width:4%; width: 4%;}
.col-2-25, .col-xs-2-25{ flex-basis:8%; max-width:8%; width: 8%;}
.col-3-25, .col-xs-3-25{ flex-basis:12%; max-width:12%; width: 12%;}
.col-4-25, .col-xs-4-25{ flex-basis:16%; max-width:16%; width: 16%;}
.col-5-25, .col-xs-5-25{ flex-basis:20%; max-width:20%; width: 20%;}
.col-6-25, .col-xs-6-25{ flex-basis:24%; max-width:24%; width: 24%;}
.col-7-25, .col-xs-7-25{ flex-basis:28%; max-width:28%; width: 28%;}
.col-8-25, .col-xs-8-25{ flex-basis:32%; max-width:32%; width: 32%;}
.col-9-25, .col-xs-9-25{ flex-basis:36%; max-width:36%; width: 36%;}
.col-10-25, .col-xs-10-25{ flex-basis:40%; max-width:40%; width: 40%;}
.col-11-25, .col-xs-11-25{ flex-basis:44%; max-width:44%; width: 44%;}
.col-12-25, .col-xs-12-25{ flex-basis:48%; max-width:48%; width: 48%;}
.col-13-25, .col-xs-13-25{ flex-basis:52%; max-width:52%; width: 52%;}
.col-14-25, .col-xs-14-25{ flex-basis:56%; max-width:56%; width: 56%;}
.col-15-25, .col-xs-15-25{ flex-basis:60%; max-width:60%; width: 60%;}
.col-16-25, .col-xs-16-25{ flex-basis:64%; max-width:64%; width: 64%;}
.col-17-25, .col-xs-17-25{ flex-basis:68%; max-width:68%; width: 68%;}
.col-18-25, .col-xs-18-25{ flex-basis:72%; max-width:72%; width: 72%;}
.col-19-25, .col-xs-19-25{ flex-basis:76%; max-width:76%; width: 76%;}
.col-20-25, .col-xs-20-25{ flex-basis:80%; max-width:80%; width: 80%;}
.col-21-25, .col-xs-21-25{ flex-basis:84%; max-width:84%; width: 84%;}
.col-22-25, .col-xs-22-25{ flex-basis:88%; max-width:88%; width: 88%;}
.col-23-25, .col-xs-23-25{ flex-basis:92%; max-width:92%; width: 92%;}
.col-24-25, .col-xs-24-25{ flex-basis:96%; max-width:96%; width: 96%;}
.col-25-25, .col-xs-25-25{ flex-basis:100%; max-width:100%; width: 100%;}

@media (min-width: $screen-sm-min) {
  .col-sm-1-25{ flex-basis:4%; max-width:4%; width: 4%;}
  .col-sm-2-25{ flex-basis:8%; max-width:8%; width: 8%;}
  .col-sm-3-25{ flex-basis:12%; max-width:12%; width: 12%;}
  .col-sm-4-25{ flex-basis:16%; max-width:16%; width: 16%;}
  .col-sm-5-25{ flex-basis:20%; max-width:20%; width: 20%;}
  .col-sm-6-25{ flex-basis:24%; max-width:24%; width: 24%;}
  .col-sm-7-25{ flex-basis:28%; max-width:28%; width: 28%;}
  .col-sm-8-25{ flex-basis:32%; max-width:32%; width: 32%;}
  .col-sm-9-25{ flex-basis:36%; max-width:36%; width: 36%;}
  .col-sm-10-25{ flex-basis:40%; max-width:40%; width: 40%;}
  .col-sm-11-25{ flex-basis:44%; max-width:44%; width: 44%;}
  .col-sm-12-25{ flex-basis:48%; max-width:48%; width: 48%;}
  .col-sm-13-25{ flex-basis:52%; max-width:52%; width: 52%;}
  .col-sm-14-25{ flex-basis:56%; max-width:56%; width: 56%;}
  .col-sm-15-25{ flex-basis:60%; max-width:60%; width: 60%;}
  .col-sm-16-25{ flex-basis:64%; max-width:64%; width: 64%;}
  .col-sm-17-25{ flex-basis:68%; max-width:68%; width: 68%;}
  .col-sm-18-25{ flex-basis:72%; max-width:72%; width: 72%;}
  .col-sm-19-25{ flex-basis:76%; max-width:76%; width: 76%;}
  .col-sm-20-25{ flex-basis:80%; max-width:80%; width: 80%;}
  .col-sm-21-25{ flex-basis:84%; max-width:84%; width: 84%;}
  .col-sm-22-25{ flex-basis:88%; max-width:88%; width: 88%;}
  .col-sm-23-25{ flex-basis:92%; max-width:92%; width: 92%;}
  .col-sm-24-25{ flex-basis:96%; max-width:96%; width: 96%;}
  .col-sm-25-25{ flex-basis:100%; max-width:100%; width: 100%;}
}
@media (min-width: $screen-md-min) {
  .col-md-1-25{ flex-basis:4%; max-width:4%; width: 4%;}
  .col-md-2-25{ flex-basis:8%; max-width:8%; width: 8%;}
  .col-md-3-25{ flex-basis:12%; max-width:12%; width: 12%;}
  .col-md-4-25{ flex-basis:16%; max-width:16%; width: 16%;}
  .col-md-5-25{ flex-basis:20%; max-width:20%; width: 20%;}
  .col-md-6-25{ flex-basis:24%; max-width:24%; width: 24%;}
  .col-md-7-25{ flex-basis:28%; max-width:28%; width: 28%;}
  .col-md-8-25{ flex-basis:32%; max-width:32%; width: 32%;}
  .col-md-9-25{ flex-basis:36%; max-width:36%; width: 36%;}
  .col-md-10-25{ flex-basis:40%; max-width:40%; width: 40%;}
  .col-md-11-25{ flex-basis:44%; max-width:44%; width: 44%;}
  .col-md-12-25{ flex-basis:48%; max-width:48%; width: 48%;}
  .col-md-13-25{ flex-basis:52%; max-width:52%; width: 52%;}
  .col-md-14-25{ flex-basis:56%; max-width:56%; width: 56%;}
  .col-md-15-25{ flex-basis:60%; max-width:60%; width: 60%;}
  .col-md-16-25{ flex-basis:64%; max-width:64%; width: 64%;}
  .col-md-17-25{ flex-basis:68%; max-width:68%; width: 68%;}
  .col-md-18-25{ flex-basis:72%; max-width:72%; width: 72%;}
  .col-md-19-25{ flex-basis:76%; max-width:76%; width: 76%;}
  .col-md-20-25{ flex-basis:80%; max-width:80%; width: 80%;}
  .col-md-21-25{ flex-basis:84%; max-width:84%; width: 84%;}
  .col-md-22-25{ flex-basis:88%; max-width:88%; width: 88%;}
  .col-md-23-25{ flex-basis:92%; max-width:92%; width: 92%;}
  .col-md-24-25{ flex-basis:96%; max-width:96%; width: 96%;}
  .col-md-25-25{ flex-basis:100%; max-width:100%; width: 100%;}
}
@media (min-width: $screen-lg-min) {
  .col-lg-1-25{ flex-basis:4%; max-width:4%; width: 4%;}
  .col-lg-2-25{ flex-basis:8%; max-width:8%; width: 8%;}
  .col-lg-3-25{ flex-basis:12%; max-width:12%; width: 12%;}
  .col-lg-4-25{ flex-basis:16%; max-width:16%; width: 16%;}
  .col-lg-5-25{ flex-basis:20%; max-width:20%; width: 20%;}
  .col-lg-6-25{ flex-basis:24%; max-width:24%; width: 24%;}
  .col-lg-7-25{ flex-basis:28%; max-width:28%; width: 28%;}
  .col-lg-8-25{ flex-basis:32%; max-width:32%; width: 32%;}
  .col-lg-9-25{ flex-basis:36%; max-width:36%; width: 36%;}
  .col-lg-10-25{ flex-basis:40%; max-width:40%; width: 40%;}
  .col-lg-11-25{ flex-basis:44%; max-width:44%; width: 44%;}
  .col-lg-12-25{ flex-basis:48%; max-width:48%; width: 48%;}
  .col-lg-13-25{ flex-basis:52%; max-width:52%; width: 52%;}
  .col-lg-14-25{ flex-basis:56%; max-width:56%; width: 56%;}
  .col-lg-15-25{ flex-basis:60%; max-width:60%; width: 60%;}
  .col-lg-16-25{ flex-basis:64%; max-width:64%; width: 64%;}
  .col-lg-17-25{ flex-basis:68%; max-width:68%; width: 68%;}
  .col-lg-18-25{ flex-basis:72%; max-width:72%; width: 72%;}
  .col-lg-19-25{ flex-basis:76%; max-width:76%; width: 76%;}
  .col-lg-20-25{ flex-basis:80%; max-width:80%; width: 80%;}
  .col-lg-21-25{ flex-basis:84%; max-width:84%; width: 84%;}
  .col-lg-22-25{ flex-basis:88%; max-width:88%; width: 88%;}
  .col-lg-23-25{ flex-basis:92%; max-width:92%; width: 92%;}
  .col-lg-24-25{ flex-basis:96%; max-width:96%; width: 96%;}
  .col-lg-25-25{ flex-basis:100%; max-width:100%; width: 100%;}
}
